*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:pp ;
    src: url(../fonts/Merienda/merienda-black.ttf);
}
@font-face {
    font-family:pp1 ;
    src: url(../fonts/Merienda/merienda-black.woff);
}
.header{
    display: flex;
    justify-content: space-between;
}
.header .logo{
    margin: 20px;
}
.header .logo h2{
    position: absolute;
    top: 10%;
    left: 13%;
    font-family: pp;
}
.header .liens{
    display: flex;
    position: relative;
    right: 5%;
    margin-top: 35px;
    gap: 20px;
}
.liens a{
    text-decoration: none;
    background-color: #EBE2DB;
    color: #6D6056;
    width: 80px;
    height: 30px;
    padding: 6px 20px ;
}
.liens a:hover{
    background-color: #6D6056 ;
    color: #EBE2DB;
}
.group-img{
    display: flex;
    width: 80%;
    margin: 50px 40px;
    justify-content: space-between;
    align-items: center;
    background-color: #EBE2DB;
    width: 90%;

}
h1{
    font-family: pp;
    text-align: center;
}
p{
    text-align: center;
    list-style: none;
}
.group1,.group2,.group3,.group4{
    width: 40%;
    gap: 10px;
    margin: 10px;
}
.video{
    align-items: center;
    justify-content: center;
    display: flex;
}
.pp{
    background-color: #EBE2DB;
    width: 90%;
    position: relative;
    left: 5%;
}
.container2{
    display: flex;
    position: relative;
    justify-content: center;
    top: 10px;
    gap: 150px;
    background-color: #6D6056;
}
.container2 p,h1{
    margin: 20px;
}
.img{
    position: relative;
    left: 50%;
    top: 20px;
}
i{
    margin: 20px;
    font-size: 12px;
    color: rgb(216, 152, 33);
    background-size: cover;
}
#i{
    color: wheat;
    cursor: pointer;
    margin: 30px;
    font-size: 2rem;
}
#i:hover{
    color: rgb(46, 25, 25);
}
hr{
    border: 1px  dashed;
}
.hr{
    border: 1px dashed;
    color: white;
}